@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.css';

div.ant-col.ant-col-6 > a.active > svg {
  font-size: 25px;
  transition: 0.5s;
  transform: translate(0, -6px);
}
div.ant-col.ant-col-6 > a > svg {
  font-size: 23px;
  z-index: 1;
  
}
div.ant-col.ant-col-6 p {
  color: black;
  font-size: 15px;
  margin-bottom: 2px;
  opacity: 0.5;
}
div.ant-col.ant-col-6 > a.active > p {
  font-weight: 700;
  font-size: 15px;
}

.tab-overlay {
  border-radius: 25px;
  background-color: rgb(255, 181, 71);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s ease-out;
  opacity: 0.3;
  margin-bottom: 0;

}
