@import '~bootstrap/dist/css/bootstrap.css';

.myClass > a {
  background-color: white;
  color: orange;
}

/* Active tab */
.myClass > a.nav-item.nav-link {
  background-color: white;
  color: black;
}
.myClass > a.nav-item.nav-link.active {
  background-color: antiquewhite;
  color: #b22222;
}
