@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.css';

div.ant-steps-item.ant-steps-item-process.ant-steps-item-active div.ant-steps-item-icon{
  background-color:#FF6347;
  border-color: #FF6347;
  
}

div.ant-steps-item.ant-steps-item-finish div.ant-steps-item-icon {
  border-color: #FF6347;
  
}
div.ant-steps-item.ant-steps-item-finish span.anticon.anticon-check.ant-steps-finish-icon > svg{
  fill: #FF6347;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: #FF6347;
}

.ant-btn:hover, .ant-btn:focus {
  color:black
}