@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.css';

#accompany1,
#accompany2,
#accompany3,
#accompany4 {
  border: rgb(248, 123, 7) solid 2px;
  background-color: rgb(248, 123, 7);
  color: white;
  border-radius: 30%;
  box-sizing: content-box;
  padding: 0.2rem;
  margin: 0.5rem;
}

#accompany1-text,
#accompany2-text,
#accompany3-text,
#accompany4-text {
  color: white;
  margin: 0%;
}

#container {
  margin: auto;
  width: 130px;
  height: 40px;
}

#button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid rgb(248, 123, 7);
  color: rgb(248, 123, 7);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
#button:hover {
  color: white;
  background: rgb(248, 123, 7);
}
#button:active {
  letter-spacing: 2px;
}
#button:after {
  content: 'SUBMIT';
}

#button.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: rgb(248, 123, 7);
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
#button.onclic:after {
  content: '';
}
#button.onclic:hover {
  color: rgb(248, 123, 7);
  background: white;
}

#button.validate {
  font-size: 13px;
  color: white;
  background: rgb(248, 123, 7);
}
#button.validate:after {
  content: 'v';
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 123;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
